<section id="intro" class="wrapper style1 fullscreen fade-up">
  <div class="inner">
    <h1>{{title}}</h1>
    <p>Welcome to Contoso. We are a demo application showcasing pipeline setups and modern web architectures.</p>
    <ul class="actions">
      <li><a href="/" class="button scrolly">Go back Home</a></li>
    </ul>
  </div>
</section>
