<section id="intro" class="wrapper style1 fullscreen fade-up">
  <div class="inner">
    <h1>{{title}}</h1>
    <p>At Contoso, we provide world-class mock services and fictional enterprise solutions tailored for documentation, training, and software demos.</p>
    <p>Our solutions include:</p>
    <ul>
      <li>Virtual mock architectures</li>
      <li>Sample database designs</li>
      <li>Fictional customer relationship models</li>
    </ul>
    <ul class="actions">
      <li><a href="/contact" class="button scrolly">Inquire Now</a></li>
    </ul>
  </div>
</section>
